{% extends 'base.html' %}

{% block title %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
  <h1 style="text-align: center; margin-top: 0px; font-family: sans-serif;">
    Tournaments
  </h1>

  <div style="display: flex; justify-content: center; margin: 40px;">
    <div style="
      position: relative;
      width: 100%;
      max-width: 720px;
      height: auto;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);">

      <img src="{{ url_for('static', filename='images/imagem1.png') }}" alt="Imagem Torneio" style="
        width: 100%;
        height: auto;
        max-height: 480px;
        object-fit: contain;
        display: block;">

      
        
      </div>
    </div>
  </div>
{% endblock %}
